:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --primary-background-color: LavenderBlush;
  --color1: #ffdce7;
  --color2: #ffe1eb;
  --secondary-background-color: Linen;
  --primary-accent-color: Rosybrown;
  --selected-link-color: #489c79;
  --visited-color: #05676e;
  --font-weight: bold;
}

* {
  box-sizing: border-box;
  padding: 10px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  background-color: var(--primary-background-color);
  line-height: normal;
}

h3 {
  display: inline-block;
}

.container {
  margin: 20px;
}

.drink-button,
button {
  /*always add transitions to default states*/
  /* overwrites browser defaults */
  border: none;
  /* display: block; */
  /* takes the font from the outer container */
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--secondary-background-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.4s opacity;
}

button:hover,
button:focus,
.drink-button:hover,
.drink-button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.cocktail-categories {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  flex-wrap: wrap;
}

.cocktail-categories button {
  width: 300px;
  height: 50px;
  font-size: larger;
}

.loader {
  width: 80px;
  height: 80px;
  border: 16px solid white;
  border-top: 16px solid #bada55;
  border-radius: 50%;
}

.drinks,
.details {
  float: left;
}

.spin {
  animation: spinner 0.3s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
