:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --primary-background-color: LavenderBlush;
  --color1: #ffdce7;
  --color2: #ffe1eb;
  --secondary-background-color: Linen;
  --primary-accent-color: Rosybrown;
  --selected-link-color: #489c79;
  --visited-color: #05676e;
  --font-weight: bold;
}

* {
  box-sizing: border-box;
  padding: 10px;
  margin: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

body {
  background-color: var(--primary-background-color);
  line-height: normal;
}

button,
.btn {
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-background-color);
  text-decoration: none;
  height: auto;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.4s opacity;
  width: 150px;
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.page-header {
  margin: auto;
  padding: 10px;
  border-bottom: 1px solid rosybrown;
}

.page-header img {
  border-radius: 20%;
  width: 100px;
  padding: 2px;
}

.page-header__title {
  font-family: 'Ribeye Marrow', cursive;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.modal-body {
  padding: 20px;
}

.filtered-options {
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
}

.filter li {
  list-style: none;
}

.drinks {
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
}

.modal {
  text-align: left;
}

.modal-img {
  max-width: 100%;
}

.modal__ingredients {
  padding-left: 30px;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .btn,
  button,
  .filtered-options,
  .drinks {
    width: 100%;
  }
}

@media (max-width: 630px) {
  .page-header__title {
    font-size: 35px;
  }
  .page-header img {
    width: 80px;
  }
}

@media (max-width: 535px) {
  .page-header__title {
    font-size: 30px;
  }
  .page-header img {
    width: 75px;
  }
}

@media all and (min-width: 800px) and (max-width: 1000px) {
  h3 {
    font-size: 20px;
  }
}

@media (min-width: 1100px) {
  button,
  .btn {
    width: 330px;
  }
}
