:root{
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --primary-background-color: LavenderBlush;
  --color1: #ffdce7;
  --color2: #ffe1eb;
  --secondary-background-color: Linen;
  --primary-accent-color: Rosybrown;
  --selected-link-color: #489c79;
  --visited-color: #05676e;
  --font-weight: bold;
}

* {
  box-sizing: border-box;
  padding: 10px;
  margin: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: var(--primary-background-color);
  line-height: normal;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.page-header {
  max-width: 100%;
  margin: auto;
  padding: 20px;
  border-bottom: 1px solid rosybrown;
}

.page-header img {
  display: inline-flex;
  flex-wrap: wrap;
  width: 10%;
  border-radius: 10%;
}

/* .page-header img:hover {
} */

.modal-body {
  padding: 20px;
}

button,
.btn {
  border: none;
  /* font-family: inherit; */
  background-color: var(--primary-color);
  color: var(--secondary-background-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.4s opacity;
  width: 150px;
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.filtered-options {
  list-style: none;
}

.drinks {
  list-style: none;
}

.modal-img {
  max-width: 100%;
}

.modal__ingredients {
  padding-left: 30px;
}
